[Unit]
Description=Send discord notification on startup
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/home/dan/src/status/startup.sh

[Install]
WantedBy=multi-user.target
